@import '../../../../../styles/variables.scss';

.card {
  display: flex;
  margin-top: 100px;

  img {
    width: 600px;
    height: 600px;
    margin-right: 50px;
  }

  .details {
    max-width: 590px;
    margin-top: 32px;

    h1 {
      font-weight: 700;
      font-size: 44px;
      line-height: 130%;

      margin-bottom: 30px;
    }

    .color {

      margin-bottom: 20px;

      p {
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
      }

      ul {
        display: flex;
        margin-top: 20px;
      }

      li {
        div {
          width: 50px;
          height: 50px;
          background-color: azure;
        }
      }
    }

    span {
      font-weight: 500;
      font-size: 18px;
      line-height: 180%;
      color: $gray-text;
    }

    .price {
      margin-top: 30px;

      font-weight: 700;
      font-size: 44px;
      line-height: 130%;
    }

    .buttons {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }

}